{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="intro-container d-flex align-items-center justify-content-center vh-100">
    <div class="text-center" style="max-width: 400px; width: 100%;">
        <h1 class="text-uppercase intro-section">{% trans "Sign In" %}</h1>
        <p>{% trans "Welcome back to Dar Tangier! To make a reservation or view your account, please sign in. If you don't have an account, " %}
           <a class="link" href="{{ signup_url }}">{% trans "sign up here." %}</a></p>
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="text-center">
                <button class="btn btn-primary btn-mahagony" type="submit">{% trans "Sign In" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}