{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Delete Reservation" %}{% endblock %}

{% block content %}
    <!--Hero Section-->
    <div class="hero-container container-fluid">
        <div class="overlay">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <section class="hero-banner p-5 text-center">
                    <h1 class="text-uppercase hero-title">{% trans "Delete Reservation" %}</h1>
                    <h3 class="hero-text">{% trans "Are you sure you want to delete this reservation?" %}</h3>
                </section>
            </div>
        </div>
    </div>
    <!--/Hero Section-->

    <!-- Delete Reservation Section -->
    <div class="menu-section container-fluid py-5" style="background-color: rgb(255, 247, 237);">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-body p-4 text-center">
                        <form method="POST">
                            {% csrf_token %}
                            <p>{% trans "Are you sure you want to delete this reservation?" %}</p>
                            <div class="text-center">
                                <button type="submit" class="btn btn-danger btn-mahagony btn-action">
                                    {% trans "Delete" %}
                                </button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Delete Reservation Section-->
{% endblock %}